client:
  url: http://loki:3100/api/prom/push

scrape_configs:
  - job_name: spring
    static_configs:
      - targets: [localhost]
        labels:
          app: dev-prod-o11y-parity
          env: local
          __path__: /var/log/spring/*.log
